{% extends "iplapi/base.html" %}
{% block content %}
    <div>
        <h1>IPL Data Project with Highcharts charts and apis</h1>
        <p>Routes to get json data</p>
        <ul>
            <li>json/matchesps</li>
            <li>json/winsperseason</li>
            <li>json/extraruns</li>
            <li>json/economy</li>
            <li>json/batting_average</li>
        </ul>
        <p>Routes for Charts</p>
        <ul>
            <li>/matchesps</li>
            <li>/winsperseason</li>
            <li>/extraruns</li>
            <li>/economy</li>
            <li>/batting_average</li>
        </ul>
    </div>
{% endblock %}
